/**
 * @name Rotating Logo
 * @author the_python
 * @version 1.0
 * @description funny
*/

.wrapper__3af0b {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}